html {
	height: 100%;
	width: 100%;
	background-color: #222222;
	margin: 0;
}

body {
	margin: 0;
	z-index: auto;
}

p.main {
	padding-left: 20%;
	padding-top: 5%;
	padding-bottom: 10%;
}

p.link {
	padding-left: 48px;
	margin-bottom: 20px;
}

div.container {
	position: relative;
	padding-top: 32px;
	padding-left: 32px;
	width: 50%;
	margin: auto;
	background-repeat: no-repeat;
	display: block;
	padding-bottom: 40px;
}

div#page {
	display: inline-block;
	position: relative;
    color: #dfdfdf;
    font-family: Verdana;
    font-size: 13pt;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0px;
    padding-right: 0px;
    width: 62%;
    position: absolute;
}

div#left-box {
	float: left;
	width: 19%;
	height: 100%;
	border: 0px;
	margin: 0px;
	padding: 0px;
    border-right: 2px solid #66d9ef;
    overflow: hidden;
}

div#right-box {
	float: right;
	width: 19%;
	height: 100%;
	border: 0px;
	margin: 0px;
	padding: 0px;
    border-left: 2px solid #66d9ef;
    overflow: hidden;
}


span {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

#github {
	background-image: url('images/github.png');
}

#stack {
	background-image: url('images/stack.png');
}

#linkedin {
	background-image: url('images/linkedin.png');
}

#mail {
	background-image: url('images/mail.png');
}

a:link {
	color: #DFDFDF;
	text-shadow: 0 1px 3px #000000;
}

a:visited {
	color: #444444;
}

/* animation starts here */

table {
	table-layout: fixed;
}

td {
	border: 1px solid #222222;
	width: 10px;
	height: 10px;
	-webkit-transition: background-color 150ms linear;
    -moz-transition: background-color 150ms linear;
    -o-transition: background-color 150ms linear;
    -ms-transition: background-color 150ms linear;
    transition: background-color 150ms linear;
}

td.on {
	background-color: #224466;
}

td.off {
	background-color: #336699;
}

td.high {
	background-color: #55AAFF;
}
